/*
 * Globals
 */

html { height: 100%; }
body { 
  margin: 0; 
  height: 100%; 
  position: relative; 
  font-size: 18px;
  background-color: #002b36;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  text-align: center;
  font-size: 14px;
  color: #586e75;
}

#footer a{ 
  color: #586e75;
}


.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid
  color: #333;
  background-color: transparent;
  border-color: #999;
}

.container {
  width: 100%; 
}

.dropdown-menu li btn {
  padding: 3px 20px;
}

.dropdown-menu {
  font-size: 16px;
  min-width: 250px;
  background-color: #ccc;
}
.dropdown-menu .divider {
  background-color: #333;
}
.navbar-nav>li>.dropdown-menu {
  padding: 10px;
  border-radius: 10px
}

.selected {
  text-decoration: underline;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;    
}

.dropdown-menu>li>a:hover {
  text-decoration: underline;
  background-color: transparent;
}

.navbar-default
{
  border-color: transparent;
  text-shadow: none;
  background-color: transparent;
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.firepad {
  position: absolute; 
  left: 0; 
  top: 100px; 
  bottom: 0; 
  right: 0; 
  height: auto;
}

@media (min-width: 768px) {
  .firepad {
    left: 25%; 
  }
  .navbar-toggle {
    display: block;
  }
  .collapse {
    display: none !important;
  }
}

.cm-s-solarized.CodeMirror,
.cm-s-solarized .CodeMirror-gutters {
  background-image: none;
}

.cm-s-solarized.CodeMirror {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
 background-color: transparent;
 border-color: transparent transparent;; 
}

.cm-s-solarized .CodeMirror-gutters {
 padding: 0 15px 0 10px; 
 box-shadow: none;
 border-right: 0px solid; 
}

.modal-content {
  background-color: #e5e5e5;
  font-size: 14px;
  border-radius: 10px
}

.modal-footer{
  border-top: 1px solid #bbb;
}

.modal-header{
  border-bottom: 1px solid #bbb;
}

.modal-content a{
  color: #111;
  text-decoration: underline;
}

.modal-content pre{
  border: 1px solid #bbb;
  background-color: #eee;
  font-size: 14px;
}

.popover-content {
  border: none;
  background-color: #ccc;
  border-color: #ccc;
  font-size: 16px;
  text-align: center;
  color: #111;
}

.popover{
  background-color: #ccc;
}


.popover.top>.arrow:after{
  border-top-color: #ccc;
}

#footer .popover-content a:focus,
#footer .popover-content a:hover,
#footer .popover-content a {
  color: #111;
}


