/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

html { height: 100%; }
body { 
  margin: 0; 
  height: 100%; 
  position: relative; 
  font-size: 18px;
}

.dropdown-menu {
  font-size: 16px;
  min-width: 200px;
  background-color: #ccc;
}
.dropdown-menu .divider {
  background-color: #333;
}
.navbar-nav>li>.dropdown-menu {
  padding: 10px;
  border-radius: 10px
}

.selected {
  text-decoration: underline;
}

ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;    
}

.dropdown-menu>li>a:hover {
  text-decoration: underline;
  background-color: transparent;
}

.navbar-default
{
  border-color: transparent;
  text-shadow: none;
  background-color: transparent;
  border-color: transparent;
}

.firepad {
  position: absolute; 
  left: 0; 
  top: 100px; 
  bottom: 0; 
  right: 0; 
  height: auto;
}

@media (min-width: 768px) {
  .firepad {
    left: 25%; 
  }
  .navbar-toggle {
    display: block;
  }
  .collapse {
    display: none !important;
  }
}

.cm-s-solarized.CodeMirror,
.cm-s-solarized .CodeMirror-gutters {
  background-image: none;
}

.cm-s-solarized.CodeMirror {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
 background-color: transparent;
 border-color: transparent transparent;; 
}

.cm-s-solarized .CodeMirror-gutters {
 padding: 0 15px 0 10px; 
 box-shadow: none;
 border-right: 0px solid; 
}


